<div>
  <div class="_containerWidth">
    <h1 class="_m0 _fw700">ConvoBot360</h1>

    <div [ngSwitch]="forgotPasswordStageStatus">
      <div *ngSwitchCase="'emailVerification'">
        <h3 class="_m0 _forgotTextColor">Forgot Password</h3>

        <label class="_mt _inputLabel">Email</label>
        <input class="_inputBox" placeholder="Email" />
        <span class="_textMuted">Requires your primary email ID.</span>
        <div class="_mt _textCen">
          <button
            mat-button
            class="button _width100"
            (click)="forgotPasswordStageStatus = 'otpVerification'"
          >
            Send OTP
          </button>
        </div>
      </div>

      <div *ngSwitchCase="'otpVerification'">
        <h3 class="_m0 _forgotTextColor">Verify OTP</h3>

        <!-- <label class="_mt _inputLabel">OTP</label> -->
        <input class="_inputBox _mt" placeholder="OTP" />
        <!-- <span class="_textMuted">Requires your primary email ID.</span> -->
        <div class="_mt _textCen">
          <button
            mat-button
            class="button _width100"
            (click)="forgotPasswordStageStatus = 'setNewPassword'"
          >
            Verify OTP
          </button>
        </div>
      </div>

      <div *ngSwitchCase="'setNewPassword'">
        <form [formGroup]="newPasswordForm">
          <h3 class="_m0 _forgotTextColor">Set New Password</h3>

          <div>
            <label class="_mt _inputLabel">Password</label>
            <input
              class="_inputBox"
              placeholder="Password"
              formControlName="password"
              type="password"
            />
            <div
              *ngIf="passwordSubmitted && f.password.errors"
              class="_alertTextColor"
            >
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>

          <div>
            <label class="_mt _inputLabel">Confirm Password</label>
            <input
              class="_inputBox"
              placeholder="Confirm Password"
              formControlName="confirmPassword"
              type="password"
            />
            <div
              *ngIf="passwordSubmitted && f.confirmPassword.errors"
              class="_alertTextColor"
            >
              <div *ngIf="f.confirmPassword.errors.required">
                Confirm Password is required
              </div>
              <div *ngIf="f.confirmPassword.errors.mustMatch">
                Passwords must match
              </div>
            </div>
          </div>

          <div class="_mt _textCen">
            <button
              mat-button
              class="button _width100"
              (click)="setNewPasswordFunction()"
            >
              Set New Password
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- <div *ngIf="!sendOTPStatus; else verifyTemplate">
      <h3 class="_m0 _forgotTextColor">Forgot Password</h3>

      <label class="_mt _inputLabel">Email</label>
      <input class="_inputBox" placeholder="Email" />
      <span class="_textMuted">Requires your primary email ID.</span>
      <div class="_mt _textCen">
        <button
          mat-button
          class="button _width100"
          (click)="sendOTPStatus = true"
        >
          Send OTP
        </button>
      </div>
    </div>

    <ng-template #verifyTemplate>
      <h3 class="_m0 _forgotTextColor">Verify OTP</h3>


      <input class="_inputBox _mt" placeholder="OTP" />

      <div class="_mt _textCen">
        <button
          mat-button
          class="button _width100"
          (click)="sendOTPStatus = false"
        >
          Verify OTP
        </button>
      </div>
    </ng-template> -->

    <div class="_textStart _mt">
      Already have login and password?<span
        routerLink="/login"
        class="_cursorPointer _primaryTextColor"
        >&nbsp;Sign in</span
      >
    </div>
  </div>
</div>
