<h3 class="_m0 _forgotTextColor">OTP Verify</h3>
<div>
  <label class="_mt _inputLabel">Mobile OTP</label>
  <input
    class="_inputBox"
    placeholder="Mobile OTP"
    type="password"
    maxlength="4"
    [(ngModel)]="mobileOTP"
    (input)="otpVerifyFun($event, '2')"
    [disabled]="tenancyMetaDetails?.otp_status?.mobile_no_verified == 1"
    [ngClass]="{
      'text-success': tenancyMetaDetails.otp_status.mobile_no_verified == 1
    }"
  />
</div>

<div>
  <label class="_mt _inputLabel">Email OTP</label>
  <input
    class="_inputBox"
    placeholder="Email OTP"
    type="password"
    maxlength="4"
    [(ngModel)]="emailOTP"
    (input)="otpVerifyFun($event, '1')"
    [disabled]="tenancyMetaDetails?.otp_status?.email_verified == 1"
    [ngClass]="{
      'text-success': tenancyMetaDetails.otp_status.email_verified == 1
    }"
  />
</div>

<!-- <div class="_mt _textCen">
  <button
    mat-button
    class="button _width100"

    [disabled]="
      tenancyMetaDetails?.otp_status?.email_verified == 0 ||
      tenancyMetaDetails?.otp_status?.mobile_no_verified == 0
    "
  >
    Verify OTP ( Email and Mobilenumber )
  </button>
</div> -->
