<h3 class="_m0 _forgotTextColor">OTP Verify</h3>
<div>
  <label class="_mt _inputLabel">Mobile OTP</label>
  <input
    class="_inputBox"
    placeholder="Mobile OTP"
    type="tel"
    maxlength="4"
  />
</div>

<div>
  <label class="_mt _inputLabel">Email OTP</label>
  <input
    class="_inputBox"
    placeholder="Email OTP"
    type="tel"
    maxlength="4"
  />
</div>

<div class="_mt _textCen">
  <button mat-button class="button _width100">
    Verify OTP ( Email and Mobilenumber )
  </button>
</div>
